h3{
  display: flex;
  word-break:break-all;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #b7d7e8;
}

.mainContainer{
  width: 50%;
  align-items: center;
  margin: auto;
  padding: 30px;
  background-color: #daebe8;
  display: flex;
}

main {
  flex: 1 0 auto;
}

footer{
  align-self: flex-end
}