.mainContainer{
  width: 50%;
  align-items: center;
  margin: auto;
  border: solid 1px;
  padding: 30px;
  background-color: #ff0d7b;
  display: flex;
}

h3{
  display: flex;
  word-break:break-all;
}